{% extends "@WicrewSale/Booking/Base/booking.detail.html.twig" %}

{% block bookingForm %}
    {# @var product \App\Wicrew\ProductBundle\Entity\Product #}

    {% set pickupDateID = 'pickup_date_' ~ bookingNumber %}
    {% set pickupTimeID = 'pickup_time_' ~ bookingNumber %}
    {% set adultCountID = 'passenger_number_adult_' ~ bookingNumber %}
    {% set childCountID = 'passenger_number_children_' ~ bookingNumber %}

    {% set pickUpLabelText = 'booking.pickupdate'|trans %}
    {% set labelTextDate = 'booking.pickupdate'|trans %}
    {% set labelTextTime = 'booking.pickuptime'|trans %}

    {% if products[0] is defined and  product is not defined %} {% set product = products[0] %} {% endif %}

    {% if reverseAreas[bookingNumber] is defined %}
        {% if reverseAreas[bookingNumber] %}
            {% set pickAreaID = product.areaTo.id %}
            {% set dropAreaID = product.areaFrom.id %}
        {% else %}
            {% set pickAreaID = product.areaFrom.id %}
            {% set dropAreaID = product.areaTo.id %}
        {% endif %}
        {% if pickAreaID is same as(constant('\\App\\Wicrew\\ProductBundle\\Entity\\Area::TYPE_AIRPORT')) %}
            {% set labelTextDate = 'booking.pickupdate.flight'|trans %}
            {% set labelTextTime = 'booking.pickuptime.flight'|trans %}
        {% endif %}
        {% if dropAreaID is same as(constant('\\App\\Wicrew\\ProductBundle\\Entity\\Area::TYPE_AIRPORT')) %}
            {% set labelTextDate = 'booking.pickupdate.flight.to'|trans %}
            {% set labelTextTime = 'booking.pickuptime.flight.to'|trans %}
        {% endif %}
        {% set pickUpLabelText = labelTextDate %}
        {% set alternateTitleFlightDate = labelTextDate %}
        {% set alternateTitleFlightTime = labelTextTime %}
    {% endif %}

    <div class="booking-section-inner">
        {% block idInput %}
            <input type="hidden" name="{{ postDataSection }}[id]" value="{{ product.id }}"/>
        {% endblock %}
        <input type="hidden" name="{{ postDataSection }}[type]" value="product"/>
        {% block summaryTotalInputs %}
            <input type="hidden" id="subtotal-for-{{ bookingNumber }}"
                   value="{{ summaries[bookingNumber].subtotalPrice.rackPrice.toCents() }}"/>
            <input type="hidden" id="taxes-for-{{ bookingNumber }}"
                   value="{{ summaries[bookingNumber].totalTaxes.rackPrice.toCents() }}"/>
        {% endblock %}
        {% block headerAndInfo %}
            <div class="booking-product-info clearfix">
                <div class="ride-header">
                    <div>
                        {% if pickArea is defined %}
                            {% set pickAreaID = pickArea.id %}
                        {% else %}
                            {% if reverseAreas[bookingNumber] %}
                                {% set pickAreaID = product.areaTo.id %}
                            {% else %}
                                {% set pickAreaID = product.areaFrom.id %}
                            {% endif %}
                        {% endif %}

                        {% if dropArea is defined %}
                            {% set dropAreaID = dropArea.id %}
                        {% else %}
                            {% if reverseAreas[bookingNumber] %}
                                {% set dropAreaID = product.areaFrom.id %}
                            {% else %}
                                {% set dropAreaID = product.areaTo.id %}
                            {% endif %}
                        {% endif %}

                        {% set dateFrom = pickDates[bookingNumber]|date("F d, Y") %}
                        {% set dateTo = pickDates[bookingNumber]|date("F d, Y") %}
                        {% include "@WicrewProduct/Product/Search/ride.header.html.twig"
                            with { index: loop.index, pickAreaID: pickAreaID, dropAreaID: dropAreaID, dateFrom: dateFrom, dateTo: dateTo } only %}
                    </div>

                    <div>
                        <span class="ride-header-label">{{ pickUpLabelText }}</span>
                        <br/><span class="fa fa-calendar-day"></span> {{ pickDates[bookingNumber]|date("F d, Y") }}
                    </div>

                    <div>
                        {% set trip = { adultCount: summaries[bookingNumber].adultCount, childCount: summaries[bookingNumber].childCount } %}
                        <span class="ride-header-label">{{ 'core.passengers'|trans }}</span>
                        <br/><span
                                class="fa fa-user-friends"></span>{{ block("passengerDisplay", "@WicrewProduct/Product/Search/search.passenger-drop.html.twig") }}
                    </div>
                </div>
                <div style="padding-top: 20px"></div>
                <div class="time-block">
                    <strong>{{ 'time'|trans() }}</strong> {{ product.durationNoTrailingZeroes }} {{ 'hours'|trans() }}
                </div> 
            </div>
        {% endblock %}

        <div class="row-block">
            <div class="col-block booking-pickup-block booking-form-block input-calendar-icon black-icon floating-label-w-icon">
                <div class="floating-label-wrap float-fixed">
                    {% block dateBlockInclude %}
                        {% include "@WicrewSale/Booking/Inputs/form.booking.pickup_date.html.twig" with { "pickupDate": pickDates[bookingNumber], "readonly": true, "alternateTitleFlightDate": labelTextDate } %}
                    {% endblock %}
                </div>
            </div>

            {% block timeBlock %}
                <div class="col-block booking-time-block input-time-icon floating-label-w-icon">
                    <div class="floating-label-wrap">
                        {% block timeBlockInclude %}
                            {% include "@WicrewSale/Booking/Inputs/form.booking.time.html.twig" with { "alternateTitleFlightTime": labelTextTime } %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="row-block">
            <div class="col-block">
                <div class="floating-label-wrap float-fixed">
                    {% block adultBlockInclude %}
                        {% include "@WicrewSale/Booking/Inputs/form.booking.adult.html.twig" with { "readonly": true } %}
                    {% endblock %}
                </div>
            </div>

            <div class="col-block">
                <div class="floating-label-wrap float-fixed">
                    {% block childBlockInclude %}
                        {% include "@WicrewSale/Booking/Inputs/form.booking.child.html.twig" with { "readonly": true } %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="row-block booking-area-main-block">
            <div class="col-block">
                {% block pickAreaInclude %}
                    {% if pickArea is defined %}
                        {% include "@WicrewSale/Booking/Inputs/form.booking.area.html.twig" with
                            {
                                "type": "from",
                                "areaObj": pickArea,
                                "address": pickAddress,
                                "googlePlaceID": pickGooglePlaceID,
                                "flightNumber": pickFlight,
                                "airlineCompany": pickAirline,
                                "bookingNumber": bookingNumber
                            } %}
                    {% else %}
                        {% if reverseAreas[bookingNumber] %}
                            {% include "@WicrewSale/Booking/Inputs/form.booking.area.html.twig" with
                                {
                                    "type": "from",
                                    "areaObj": product.areaTo,
                                    "bookingNumber": bookingNumber
                                } %}
                        {% else %}
                            {% include "@WicrewSale/Booking/Inputs/form.booking.area.html.twig" with
                                {
                                    "type": "from",
                                    "areaObj": product.areaFrom,
                                    "bookingNumber": bookingNumber
                                } %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="col-block">
                {% block dropAreaInclude %}
                    {% if dropArea is defined %}
                        {% include "@WicrewSale/Booking/Inputs/form.booking.area.html.twig" with
                            {
                                "type": "to",
                                "areaObj": dropArea,
                                "address": dropAddress,
                                "googlePlaceID": dropGooglePlaceID,
                                "flightNumber": dropFlight,
                                "airlineCompany": dropAirline,
                                "bookingNumber": bookingNumber
                            } %}
                    {% else %}
                        {% if reverseAreas[bookingNumber] %}
                            {% include "@WicrewSale/Booking/Inputs/form.booking.area.html.twig" with
                                {
                                    "type": "to",
                                    "areaObj": product.areaFrom,
                                    "bookingNumber": bookingNumber
                                } %}
                        {% else %}
                            {% include "@WicrewSale/Booking/Inputs/form.booking.area.html.twig" with
                                {
                                    "type": "to",
                                    "areaObj": product.areaTo,
                                    "bookingNumber": bookingNumber
                                } %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>

        {% set arrivalText = 'booking.pickuptime.flight'|trans %}

        {# {% if labelTextTime == arrivalText %}
            <div class="row-block" style="margin-top: 50px;">Your driver will be waiting for you outside the airport upon arrival.
            Please look for the ILT logo upon exiting the terminal.
            Our standard procedure is to monitor your flight arrival information and adjust your pick-up time accordingly in the event of a delay. 
            </div>
        {% else %}
            <div class="row-block" style="margin-top: 50px;">Your driver will pick you up from the lobby of your resort at your requested pick-up time on the day of your departure.
            Please note that our customer care representatives are on standby 24 hours a day in case of any last-minute changes.
            </div>
        {% endif %} #}
        <div class="row-block special">
            <h3>Special notes</h3>
            * If your hotel/villa is outside the zone, an additional fee will apply.<br />
            * Your pickup time from your hotel/villa will be confirmed by email.
        </div>

        {% if custom_services is defined and custom_services|length > 0 %}
            <div class="addon booking-addon-section">
                <div class="addon-section-title">
                    <h4>Custom Services</h4>
                    <p>Following are the added custom services, you can also delete them from booking.</p>
                </div>

                <div id="custom_services-for-{{ bookingNumber }}" class="addon-table">
                    {% for custom_service in custom_services %}
                        <div class="single-customService-container" style='font-size: 16px;font-weight: 400;margin-bottom: 20px; padding: 15px; border: 1px #aaadb4 solid; display: flex; width: 100%; gap: 15px;'>
                            <div class="single-customService-name" style='flex: 50%;'> {{custom_service.label}} </div>
                            <div class="single-customService-price" style='flex: auto;'> {{'currency.symbol'|trans() ~ custom_service.rackPrice|number_format(2, '.', ',') }} </div>
                            <div class="single-customService-action" style='flex: auto; text-align: end;'> <button type='button' data-bookingnumber='{{bookingNumber}}' data-loopindex='{{loop.index0}}' data-label='{{custom_service.label}}' data-id='{{custom_service.id}}' onclick="remove_custom_service(this)" style='background: transparent;border: none;color: #d10000;' class='remove_custom_service' title='Remove custom service from booking'> <i class="fas fa-times-circle"></i> </button> </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block addons %}
            {% if product.addons|length > 0 %}
                <div class="addon booking-addon-section">
                    <div class="addon-section-title">
                        <h4>{{ 'booking.addons'|trans() }}</h4>
                        <p>{{ 'booking.addons.subtitle'|trans() }}</p>
                    </div>

                    <div class="addon-section-from-to">{{ 'booking.ride'|trans() }} {{ bookingNumber }}: <span>{{ product.areaFrom.name }} - {{ product.areaTo.name }}</span></div>

                    <div id="addons-for-{{ bookingNumber }}" class="addon-table">
                        {% for addon in product.addons %}
                            {% include "@WicrewAddon/Addon/addon.detail.html.twig" with { "addon": addon, "bookingNumber": bookingNumber, "type": "addon" } %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if product.extras|length > 0 %}
                <div class="addon booking-addon-section">
                    <div class="addon-section-title">
                        <h4>{{ 'booking.extras'|trans() }}</h4>
                        <p>{{ 'booking.extras.subtitle'|trans() }}</p>
                    </div>

                    <div id="extras-for-{{ bookingNumber }}" class="addon-table">
                        {% for extra in product.extras %}
                            {% include "@WicrewAddon/Addon/addon.detail.html.twig" with { "addon": extra, "bookingNumber": bookingNumber, "type": "extra" } %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {# {% if loop.index == loop.last %}
            <div class="row detail-booking-btn-block">
                <div class="col">
                    {% block addToCartButton %}
                        <button type="submit" class="btn-black lg-btn">
                            {% if submitButtonText is defined %}{{ submitButtonText }}{% else %}{{ 'proceed.to.check.out'|trans() }}{% endif %}
                        </button>
                    {% endblock %}
                    {% block addToCartAndContinueButton %}
                        {% if referrer is not null and not app.session.has('orderID') %}
                            <button type="submit" class="add-to-cart-and-continue-btn" name="backToReferrer"
                                    value="{{ referrer }}">{{ 'add.to.cart.and.continue'|trans() }}</button>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endif %} #}
    </div>

    {% block perProductJS %}
        {% include "@WicrewSale/Booking/Base/booking.summary_watcher.js.html.twig" with { "bookingNumber": bookingNumber, "idType": "productID", "bookingID": product.id } %}
    {% endblock %}
{% endblock %}