{% extends "easy_admin/admin.base_layout.html.twig" %}

{% block page_title %}
    {{ 'addon.associated_products.title'|trans({ 'id': addon.id }) }}
{% endblock %}

{% block main %}
    <div class="view_products">
        <h4>{{ 'addon.associated_products.count'|trans({ 'addon': addon.label, 'productCount': addon.products|length }) }}</h4>

        {% if addon.products|length > 0 %}
            <h6>{{ 'addon.associated_products.view_them_below'|trans() }}</h6>
            <table>
                <tbody>
                {% for product in addon.products %}
                    <tr>
                        <td>
                            <strong>{{ product.transportationType.name ~ ' (#' ~ product.id ~ ')' }}</strong>
                        </td>
                        <td>
                            <strong> - <a href="{{ path('easyadmin',
                                    {
                                        entity: 'Product',
                                        action: 'edit',
                                        id: product.id
                                    }) }}">{{ 'action.edit'|trans() }}</a>
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="button-action">
            <a class="btn btn-primary action-new" title="" href="{{ path('easyadmin',
                {
                    entity: 'Addon',
                    action: 'list'
                }) }}" target="_self">Back to listing</a>
        </div>
    </div>
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .view_products {
            padding: 40px;
        }

        .button-action {
            padding-top: 20px;
        }
    </style>
{% endblock %}