<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_adultrackprice"
            class="form-control-label required">{{ 'addon.form.adultrackprice'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_adultrackprice" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_adultnetprice"
            class="form-control-label required">{{ 'addon.form.adultnetprice'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_adultnetprice" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_childrackprice"
            class="form-control-label required">{{ 'addon.form.childrackprice'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_childrackprice" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_childnetprice"
            class="form-control-label required">{{ 'addon.form.childnetprice'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_childnetprice" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_extratransportation"
            class="form-control-label required">{{ 'addon.form.extratransportation'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_extratransportation" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_rackprice"
            class="form-control-label required">{{ 'addon.form.rackprice'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_rackprice" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group  field-number"><label for="addon_netprice"
            class="form-control-label required">{{ 'addon.form.netprice'|trans }}</label>
        <div class="form-widget">
            <input type="text" id="wi_netprice" required="required"
                class="form-control" value="">
        </div>
    </div>
</div>
