<div class="private-transportation-page">
    <div class="container">
        <div class="row benefit-title">
            <div class="col">
                <h2>Your Benefits</h2>
            </div>
        </div>

        <div class="row benefits">
            <div class="col-12 col-md">
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="{{ absolute_url(asset('bundles/wicrewcore/images/pricetag.svg')) }}" alt="">
                    </div>
                    <div class="benefit-content">
                        <h4>All-inclusive rates</h4>
                        <p>There are no hidden surprises with ILT. Your affordable, all-inclusive rate covers all taxes,
                            airport fees, and transportation from & to the airport.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="{{ absolute_url(asset('bundles/wicrewcore/images/flexibility.svg')) }}" alt="">
                    </div>
                    <div class="benefit-content">
                        <h4>Flexibility & Convenience</h4>
                        <p>You travel when you want, and on your schedule. Our charter service is available anytime from
                            any airport.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="{{ absolute_url(asset('bundles/wicrewcore/images/safe.svg')) }}" alt="">
                    </div>
                    <div class="benefit-content">
                        <h4>Safety & Comfort</h4>
                        <p>With a wide range of aircrafts, experienced pilots, well trained support team and high safety
                            standards you'll feel safe & taken care of.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="{{ absolute_url(asset('bundles/wicrewcore/images/vip-icon.svg')) }}" alt="">
                    </div>
                    <div class="benefit-content">
                        <h4>VIP Service</h4>
                        <p>We provide personalized and professional customer service, complimentary drinks and light
                            snacks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-services-flight-block">
    <div class="container">
        <div class="row our-fleet-title">
            <div class="col">
                <h2>Memorable Experiences from the Sky</h2>
            </div>
        </div>

        <div class="row our-fleet-flight-block">
            <div class="col">
                <p>Enjoy the luxury of flying on our private charter planes and maximize your experience from the sky,
                    while saving lots of time. Costa Rica looks small on a map, but ground transportation can take many
                    hours on its rough, windy, and mountainous roads. Depending on your travel route, taking a private
                    charter flight may be the most convenient and sensible option. Traveling between some destinations
                    can take up to 3 – 4 hours by ground, while a private charter flight can cut that travel time to
                    just 35 minutes – a major time saver, especially if you have only a short time in Costa Rica.</p>
                <p>Our private charter flights can be scheduled at any time and is a money saver when traveling with
                    family or large groups. We offer inter-destination routes not covered by local domestic airlines,
                    and personalized attention and comfort. Our charters can also be used for Tours, Aerial Photographs,
                    Filming, and Medevac services.</p>
                <p>With a wide range of aircrafts, experienced pilots, well trained support team and high safety
                    standards you’ll feel safe & taken care of.</p>
            </div>
        </div>
    </div>
</div>

<div class="private-transportation-page">
    <div class="container">
        <div class="row our-fleet-title">
            <div class="col">
                <h2>Our Fleet</h2>
            </div>
        </div>

        <div class="row our-fleet-flight-block">
            <div class="col-12 col-md-3">
                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-01.jpg')) }}"
                     alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-02.jpg')) }}"
                     alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-03.jpg')) }}"
                     alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-04.jpg')) }}"
                     alt="">
            </div>
{#            <div class="col-12 col-md-3">#}
{#                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-05.jpg')) }}"#}
{#                     alt="">#}
{#            </div>#}
{#            <div class="col-12 col-md-3">#}
{#                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-06.jpg')) }}"#}
{#                     alt="">#}
{#            </div>#}
{#            <div class="col-12 col-md-3">#}
{#                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-07.jpg')) }}"#}
{#                     alt="">#}
{#            </div>#}
{#            <div class="col-12 col-md-3">#}
{#                <img src="{{ absolute_url(asset('bundles/wicrewcore/images/our-fleet-flight/private-flight-fleet-08.jpg')) }}"#}
{#                     alt="">#}
{#            </div>#}
        </div>
    </div>
</div>

{#<div class="jeep-boat-jeep-hero-image">#}
{#    <img src="{{ absolute_url(asset('bundles/wicrewcore/images/private-flight-hero-bg.jpg')) }}"#}
{#         alt="{{ 'product.jbj'|trans() }}">#}
{#</div>#}