<ul class="menu-items menu-activities">
    <li><a href="{{ absolute_url(asset('tours')) }}" title="">Tours from {{ 'activities.all.destination'|trans() }}</a></li>
    <li><a href="{{ absolute_url(asset('tours/alajuela_san-jose')) }}" title="">Tours from San Jose</a></li>
    <li><a href="{{ absolute_url(asset('tours/arenal-valcano-la-fortuna')) }}" title="">Tours from Arenal Volcano &amp; La
            Fortuna</a></li>
    <li><a href="{{ absolute_url(asset('tours/monteverde')) }}" title="">Tours from Monteverde</a></li>
    <li><a href="{{ absolute_url(asset('tours/guanacaste')) }}" title="">Tours from Guanacaste</a></li>
    <li><a href="{{ absolute_url(asset('tours/manuel-antonio')) }}" title="">Tours from Manuel Antonio</a></li>
    <li><a href="{{ absolute_url(asset('tours/jaco')) }}" title="">Tours from Jaco</a></li>
</ul>