<style>
   .dropdown {
      position: relative;
   }

   .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      right: 0px;
      top: 15px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
   }
   .dropdown-content button.btn {
      background: transparent;
      color: darkslategray;
      border: none !important;
      box-shadow: none;
      text-align: left;
      padding: 10px 15px;
      margin: 0px !important;
      border-radius: 0px;
   }

   .dropdown-content button.btn:hover {
      background: #0679b7;
      box-shadow: none !important;
      color: #fff;
   }



   div.dropdown-content {
      padding: 0px;
   }
</style>

<div class="dropdown {{ item.id }}">
   <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
   <div class="dropdown-content {{ item.id }}">

      <button class="btn btn-primary action-inline-save" name="id" value="{{ item.id }}" style="width: 100%;">
         <span>{{ 'action.save'|trans() }}</span>
      </button>
      <button class="btn btn-primary action-inline-modify" name="modify_id" value="{{ item.id }}" style="margin-top:5px;width: 100%;">
         <span>{{ 'action.modify'|trans() }}</span>
      </button>
      <button class="btn btn-primary action-inline-resent-confirmation" name="resent_confirmation_id" value="{{ item.id }}" style="margin-top:5px;width: 100%;">
         <span>{{ 'action.resent.confirmation'|trans() }}</span>
      </button>
      <button class="btn btn-primary action-inline-send-email-to-driver" name="send_email_to_driver_id" value="{{ item.id }}" style="margin-top:5px;width: 100%;">
         <span>{{ 'action.send.email.to.driver'|trans() }}</span>
      </button>
      <button id="addNoteBtn_{{ item.id }}" class="btn btn-primary action-inline-add-note-to-driver" name="add_note_to_driver" value="{{ item.id }}" style="margin-top:5px;width: 100%;">
         <span>Notes</span>
      </button>

      <div id="addNoteModal_{{ item.id }}" data-oid="{{item.order.id}}" class="addNoteModal modal" style="padding-right: 15px; align-items: center; justify-content: center; width: 100%; background: #0000009c;">
         <div class="modal-dialog">
            <div class="modal-content">
               
               <form class="addNewNoteForm" data-oid="{{item.order.id}}" data-itemid="{{item.id}}">
                  <div class="modal-header">
                     <h5 class="modal-title">
                        Add driver note
                     </h5>
                     
                     <button type="button" class="btn btn-sm btn-close" id="modalCloseBtn_{{ item.id }}" formtarget="_self">
                        <i class="fa fa-close"></i>
                     </button>
                     
                  </div>
                  <div class="modal-body" style="padding: 1rem;">
                     <div id="previous_notes_{{ item.id }}" class="previous_notes_container">
                        {% set internal_notes_arr = item.order.notes|split('<br><br>') %}
                        {% for internal_note in internal_notes_arr | slice(1) %}
                           <div class="single-note-container">
                              <div class="single-note-content" data-orderid="{{ item.order.id }}" data-itemid="{{ item.id }}" data-notenum="{{ loop.index }}">{{ internal_note }}</div>
                              <button id="editNoteBtn_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}" class="editNoteBtn" type="button" data-orderid="{{ item.order.id }}" data-itemid="{{ item.id }}" data-notenum="{{ loop.index }}"> <i class="fa fa-edit"></i> </button>
                              <div id="edit_note_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}" class="editNoteTextAreaContainer">
                                 <i class="fa fa-close"></i>
                                 <textarea id="editNoteTextArea_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}" class="editNoteTextArea" placeholder="Enter Note here...">
                                    {{internal_note|replace({' (updated)': ""})}}
                                 </textarea>
                                 <button type="button" id="updateNote_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}" class="btn btn-editNote" data-orderid="{{ item.order.id }}" data-itemid="{{ item.id }}" data-notenum="{{ loop.index }}"> <i class="fa fa-save"></i> Update </button>
                                 <script>
                                    // EDIT NOTE BUTTON ON CLICK
                                    $("#editNoteBtn_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}").on("click", function () {
                                       $("#edit_note_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}").css("display", "flex");
                                       $("#addNoteModal_{{ item.id }} .modal-footer, #addNoteModal_{{ item.id }} .modal-header ").hide();
                                    
                                    });

                                    $("#edit_note_{{ item.order.id }}_{{ item.id }}_{{ loop.index }} i.fa-close").on("click", function () {
                                       $("#edit_note_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}").css("display", "none");
                                       $("#addNoteModal_{{ item.id }} .modal-footer, #addNoteModal_{{ item.id }} .modal-header ").show();

                                    });

                                    $("#updateNote_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}").on("click", function () {
                                       if ($(this).hasClass("loading-button")) { return; }
                                       $(this).addClass("loading-button");
                                       $(this).attr("disabled", "disabled");
                                    
                                       let parentRow = $(this).parents("tr");
                                       let itemID = parentRow.attr("data-id");
                                       let rows = $(`tr[data-id='${itemID}']`);
                                       let data = {};
                                       rows.find("input, select, button").each(function () {
                                          $(this).attr("disabled", "disabled");
                                          if ($(this).is("[type='checkbox']") && !$(this).is(':checked')) {
                                             return;
                                          }
                                          data[$(this).attr("name")] = $(this).val();
                                       });

                                       let orderid  = $(this).attr("data-orderid");
                                       let itemid   = $(this).attr("data-itemid");
                                       let notenum  = $(this).attr("data-notenum");
                                       let newNote  = $("#editNoteTextArea_{{ item.order.id }}_{{ item.id }}_{{ loop.index }}").val();
                                       let that     = $(this);

                                       $.ajax({
                                          url: '{{ url("activity_management_save") }}',
                                          type: "POST",
                                          data: data,
                                          success: function (response) {
                                             if (response.status === 'success') {
                                                   for (let i = 0; i < response.messages.length; i++) {
                                                      alert(response.messages[i]);
                                                   }
                                                   let driverSelects = $(DRIVER_SELECT_ELEMENT_SELECTOR);
                                                   let sentIDs = response['sentIDs'];
                                                   for (let i = 0; i < sentIDs.length; i++) {
                                                      let strVal = sentIDs[i].toString();
                                                      driverSelects.each(function () {
                                                         if ($(this).val() === strVal) {
                                                               $(this).data("old-id", strVal);
                                                               let sendEmailCheckbox = $(this).parents("tr").find(SEND_EMAIL_CHECKBOX_SELECTOR);
                                                               sendEmailCheckbox.data("sent-email", "1");
                                                               $(this).trigger("change");
                                                         }
                                                      });
                                                   }

                                                   let driverRows = rows.slice(1);
                                                   let index = 0;
                                                   driverRows.each(function () {
                                                      let driverSelect = $(this).find(DRIVER_SELECT_ELEMENT_SELECTOR);
                                                      driverSelect.data("old-id", driverSelect.val());

                                                      let sendEmailCheckbox = $(this).find(SEND_EMAIL_CHECKBOX_SELECTOR);
                                                      if (sendEmailCheckbox.parent().is(":visible")) {
                                                         let oldIDInt = parseInt(driverSelect.data("old-id"));
                                                         if (sendEmailCheckbox.is(":checked") && sentIDs.includes(oldIDInt)) {
                                                               sendEmailCheckbox.data("sent-email", "1");
                                                         } else {
                                                               sendEmailCheckbox.data("sent-email", "");
                                                         }
                                                      }

                                                      // Update indices to match what's in the database now.
                                                      updateRowIndex($(this), index);
                                                      index++;
                                                   })

                                                   rows.find("input, select, button").removeAttr("disabled");

                                                   $.ajax({
                                                      url:'/admin/edit/note',
                                                      type: "POST",
                                                      dataType: "json",
                                                      data: {
                                                         "orderid": orderid,
                                                         "itemid": itemid,
                                                         "notenum": notenum,
                                                         "newNote": newNote
                                                      },
                                                      async: true,
                                                      success: function (response) {
                                                         response = JSON.parse(response);
                                                         if(response.status == 'success'){
                                                            $.ajax({
                                                               url: '{{ url("activity_management_send_email_to_driver_new_notes") }}',
                                                               type: "POST",
                                                               data: {
                                                                  "id": itemid
                                                               },
                                                               success: function (response) {
                                                                  if (response.status === 'success') {  
                                                                     that.removeClass("loading-button");
                                                                     that.removeAttr("disabled");
                                                                     location.reload();
                                                                  } else {
                                                                     alert(response.message);
                                                                     return false;
                                                                  }
                                                               }
                                                            });
                                                         }else{
                                                            alert(response.error);
                                                            return false;
                                                         }
                                                      }
                                                   });
                                             
                                             } else {
                                                   alert(response.message);
                                                   return false;
                                             }
                                          }
                                       });
                                    });
                                 </script>
                              </div>
                           </div>
                        {% endfor %}            
                     </div>
                     <div class="addNewNoteContainer">
                        <input type="hidden" name="oid" class="order_id_input" value="{{item.order.id}}" />
                        <textarea name="notes" class="addNewNoteTextArea" placeholder="Enter a new note here..."></textarea>
                     </div>
                  </div>
                  <div class="modal-footer" style="padding: 1rem;">
                     <button type="submit" class="btn btn-saveNewNote">
                        <i class="fa fa-save"></i> Save
                     </button>
                     <button type="button" class="btn btn-primary btn-notifyDriverNewNote">
                        <i class="fa fa-bell"></i> Notify Driver
                     </button>

                  </div>
               </form>
            </div>
         </div>
      </div>

      <script>
      // Get the modal
      var modal_{{ item.id }} = document.getElementById("addNoteModal_{{ item.id }}");
      // Get the button that opens the modal
      var btn_{{ item.id }} = document.getElementById("addNoteBtn_{{ item.id }}");
      // Get the <span> element that closes the modal
      var closeBtn_{{ item.id }} = document.getElementById("modalCloseBtn_{{ item.id }}");
      // When the user clicks the button, open the modal 
      btn_{{ item.id }}.onclick = function() {
         modal_{{ item.id }}.style.display = "flex";
         //   $('#previous_notes_{{ item.id }}').scrollTop(150);
         // $('#previous_notes_{{ item.id }}').scrollTop($('#previous_notes_{{ item.id }}')[0].scrollHeight);
      }
      // When the user clicks on <span> (x), close the modal
      closeBtn_{{ item.id }}.onclick = function() {
         modal_{{ item.id }}.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
         if (event.target == modal_{{ item.id }}) {
            modal_{{ item.id }}.style.display = "none";
         }
      }


      $(".dropdown.{{ item.id }}").click(function(){
         $(".dropdown-content.{{ item.id }}").toggle();
      });

      </script>
   </div>
</div>

