{% set identifier = type ~ '_' ~ bookingNumber %}
{% set areaPostName = postDataSection ~ '[area_' ~ type ~ ']' %}

<div class="airport-type-section ">
    <div class="row-block">
        <div class="floating-label-wrap">
            <input type="text" id="flight_company_{{ identifier }}" name="{{ areaPostName }}[airlineCompany]"
                    {% if airlineCompany is defined and airlineCompany != "" %}value="{{ airlineCompany }}"{% elseif dl_airlineCompany[bookingNumber] is defined %}value="{{ dl_airlineCompany[bookingNumber] }}"{% endif %} 
                     />
            <label class="floating-label"
                   for="flight_company_{{ identifier }}">{{ 'booking.from.flight.company'|trans() }}</label>
        </div>
    </div>
</div>